<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>

    <div class = "container-fluid main_header" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                 
                <div class="row">
                  <div class="col-md-20 col-12 main_header_left align-items-center">
                    <figure class = "errimg">
                      <img src="images/404error.jpg" alt="Purnita"  class ="img-fluid" title = "Purnita Sharma">
                    </figure>
                        <br>
                        <H1 style="color:rgb(173, 226, 255);">{{errorMsg}}</H1>
                        <br>
                        <br>
                        <A href = "/" ><button>GO BACK</button></A>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>
