<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
 {{>navbar}}
    <div class = "container-fluid main_header" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              
                <div class="row">
                  <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                      <img src="images/about.jpg" alt="Purnita" class ="img-fluid" title = "Purnita SHarma">
                    </figure>
                      
                </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p style="color:rgb(173, 226, 255);">WELCOME TO WEATHER APP</p>
                        <br>
                        <H1 style="color:rgb(173, 226, 255);">I am a <span>FULL STACK  DEVELOPER</span></H1>
                        <br>
                        <br>
                        <A href = "https://www.linkedin.com/in/purnita-sharma-361845206/" target = "_Purnita"><button>My linkedin</button></A>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>
